# Resoluções dos laboratórios de Python

## Laboratório 1
**1) Crie um programa que receba seu nome, idade, telefone, salário e endereço e imprima uma saída desejada.**

**Saída:** Eu sou {NOME}, eu tenho {IDADE}, você pode me contatar no número {TELEFONE} ou me visitar no endereço {ENDERECO}. Meu salário atual circula em torno de {SALARIO}.

In [ ]:
nome = input("Insira seu nome: ")
idade = input("Insira sua idade: ")
tel = input("Insira seu telefone: ")
end = input("Insira seu endereço: ")
sal = input("Insira seu salário: ")

print(f"Eu sou {nome}, eu tenho {idade}, você pode me contatar no número {tel} ou me visitar no endereço {end}. Meu salário atual circula em torno de {sal}.")

## Laboratório 2
**1) Crie um programa que receberá nome, idade, salário e brasileiro. o nome é uma variável String, a idade é uma variável inteira, o salário é uma variável float e brasileiro é uma variável boleana.**

In [ ]:
nome = input("Insira seu nome: ")
idade = int(input("Insira sua idade: "))
sal = float(input("Insira seu salário: "))
br = bool(input("É brasileiro/a: "))

**2) Converta o a variável idade para float e a variável brasileiro para string.**

In [ ]:
idade = float(idade)
br = str(br)

**3) Verifique o tipo de cada variável e imprima os valores e seus tipos conforme a saída abaixo:**

**Saída:** 
- 'a variável idade é do tipo: {TIPO_DA_VARIAVEL}'
- 'a variável brasileiro é do tipo: {TIPO_DA_VARIAVEL}'
- 'a variável nome é do tipo: {TIPO_DA_VARIAVEL}'

In [ ]:
print(f"A variável nome é do tipo {type(nome)}")
print(f"A variável idade é do tipo {type(idade)}")
print(f"A variável salário é do tipo {type(sal)}")
print(f"A variável brasileiro é do tipo {type(br)}")

## Laboratório 3

**1) Quanto é 7 elevado na potência 4?**

In [ ]:
print(7**4)

**2) Qual o resultado da seguinte expressão: (5 + 8) ** 2 * 10 / 2 + 11 - 1**

Descreva a ordem que ocorre as operações!

In [ ]:
print((5 + 8) ** 2 * 10 / 2 + 11 - 1)
print(f"(5 + 8) = {(5 + 8)}")
print(f"{(5 + 8)} ** 2 = {(5 + 8) ** 2}")
print(f"{(5 + 8) ** 2} * 10 = {(5 + 8) ** 2 * 10}")
print(f"{(5 + 8) ** 2 * 10}/2 = {(5 + 8) ** 2 * 10/2}")
print(f"{(5 + 8) ** 2 * 10/2} + 11 = {(5 + 8) ** 2 * 10/2 + 11}")
print(f"{(5 + 8) ** 2 * 10/2 + 11} - 1 = {(5 + 8) ** 2 * 10/2 + 11 - 1}")


**3) Explique o resultado da seguinte expressão: 5 + 8 ** 2 * 10 / 2 + 11 - 1**

Descreva a ordem que ocorre as operações!

In [ ]:
print(5 + 8 ** 2 * 10 / 2 + 11 - 1)
print(f"8 ** 2 = {8 ** 2}")
print(f"{8 ** 2} * 10 = {8 ** 2 * 10}")
print(f"{8 ** 2 * 10}/2 = {8 ** 2 * 10/2}")
print(f"5 + {8 ** 2 * 10/2} = {5 + 8 ** 2 * 10/2}")
print(f"{5 + 8 ** 2 * 10/2} + 11 = {5 + 8 ** 2 * 10/2 + 11}")
print(f"{5 + 8 ** 2 * 10/2 + 11} - 1 = {5 + 8 ** 2 * 10/2 + 11 - 1}")

## Laboratório 4

**1) Crie uma lista "familia" com o nome dos membros da sua família (pais, filhos, avôs e irmãos)**

In [ ]:
familia = ['Mauro', 'Marta', 'Manuelle', 'Mônica', 'Mauro Filho', 'Izaura']

**2) Adicione nesta lista os nomes dos seus animais de estimação que você já teve ou tem**

In [ ]:
familia.append('Nenê')
familia.append('Juju')

**3) Remova os animais de estimação que você não tem mais**

In [ ]:
familia.remove('Juju')

**4) Crie uma nova lista com nome Amigos e adicione seus principais amigos nesta lista**

In [ ]:
amigos = ['Raquel', 'Thales', 'Abner', 'Beth', 'Luan', 'Carmélia']

**5) Concatene as listas Familia e Amigos em uma nova lista chamada Networking**

In [ ]:
networking = familia + amigos

**6) Delete as listas Familia e Amigos**

In [ ]:
del familia
del amigos

**7) Ordene a lista Networking por ordem alfabetica a-z**

In [ ]:
networking.sort()

**8) Verifique o tamanho da lista networking**

In [ ]:
print(len(networking))

**9) Converta todos os itens da lista para string usando o separador '|'**

In [ ]:
print('|'.join(networking))

## Laboratório 5

**1) Crie um dicionário com seu nome, telefone e email. Mostre agora somente as chaves desse dicionário!**

In [ ]:
dic = {'nome': 'Mauro', 'tel': '8836113074', 'email': 'fmfmf@cin.ufpe.br'}
print(dic.keys())

**2) Adicione o seu trabalho neste dicionário**

In [ ]:
dic['trabalho'] = 'estudante'

**3) Remova o dado de telefone do seu dicionário**

In [ ]:
del dic['tel']

**4) Crie um lista com 5 nomes e uma lista com 5 telefones. Crie um dicionário a partir delas**

In [ ]:
nomes = ['Mateus', 'Luiz', 'Marcos', 'Lucas', 'Tiago']
tel = ['911111111', '922222222', '933333333', '944444444', '955555555']
dic = dict(zip(nomes, tel))
print(dic)

## Laboratório 6

**1) Crie uma tupla três diferentes nomes**

In [ ]:
nomes = ('Francisco', 'Mauro', 'Falcão')

**2) Modifique o valor o último elemento dessa tupla para zero**

In [ ]:
nomes[2] = 0

## Laboratório 7

**1) Crie um conjunto dos números inteiros até o número 10**

In [ ]:
ints = set({1,2,3,4,5,6,7,8,9,10})

**2) Crie um novo conjunto para os números inteiros pares até o número 10 (2, 4, 6, 8, 10)**

In [ ]:
pares = set({2,4,6,8,10})

**3) Mostre o resultado da intersseessão, união e diferença entre os dois conjuntos**

In [ ]:
print(ints.intersection(pares))
print(ints.difference(pares))
print(ints.union(pares))

## Laboratório 8

**1) Crie diferentes expressões de verificação usando cada um dos operadores apresentados.**

In [ ]:
print(1 > 0)
print(4 < 2)
print(2 >= 1)
print(3 <= 1)
print(0 == 0)
print(1 != 1)
print(2 in (0,2,4,6,8))
print(2 not in (0,2,4,6,8))

**2) Verifique se os números 1 e 2 fazem parte do conjunto pares (0,2,4,6,8,10)**

In [ ]:
print(1 in (0,2,4,6,8,10))
print(2 in (0,2,4,6,8,10))

## Laboratório 9

**1) qual o retorno da operação: 5 é maior do que 2, 2 é menor do que 3 e 4 é menor do que 12?**

In [ ]:
print((5 > 2) or (2 < 3) and (4 < 12))

**2) O que acontece se trocarmos o último and por "or". Verifique e explique se o resultado da expressão muda**

In [ ]:
print((5 > 2) or (2 < 3) or (4 < 12))

## Laboratório 10

**1) Crie um programa que irá receber uma variável e irá fornecer uma saída. Imprima impar se a variável for impar e par se a variável for par.**

In [ ]:
x = float(input("Insira um valor numérico: "))
if x % 2 == 0:
  print("É par!")
else:
  print("É ímpar!")